body {
  background-color: #f5f6f6;
  color: #424242;
  font-family: "Courier New", courier, monospace;
  margin: 0 auto;
  padding: 40px 0;
  width: 700px;
}
img.logo {
  margin-bottom: 40px;
  width: 130px;
}
img.logo-emoji {
  display: block;
  margin: 0 auto;
}
.emoji-lg {
  width: 60px;
}
h1 {
  margin-bottom: 0;
  text-align: center;
}
ul, li {
  margin: 0;
  padding: 0;
}
p, li, h1, h2 {
  font-size: 20px;
  line-height: 30px;
}
p {
  margin-bottom: 40px;
}
hr {
  margin: 20px 0;
  border: 0;
  border-bottom: 1px dashed black;
}
.float-right {
  float: right;
}
footer {
  font-size: 12px;
  margin-top: 100px;
}
footer ul li {
  display: inline-block;
  font-size: 12px;
  line-height: 0;
}
@media only screen and (max-device-width: 480px) {
  body {
    font-family: courier, monospace;
    padding: 50px;
    width: 100%;
  }
  h1 {
    font-size: 3em;
    line-height: 1.2em;
    margin-bottom: 0;
  }
  p, h2, li {
    font-size: 2em;
    line-height: 1.7em;
  }
  p {
    margin-bottom: 6em;
  }
  img.logo {
    width: 200px;
    height: 44px;
  }
  hr {
    border: 1px solid #000;
  }
  footer {
    margin-top: 10px;
  }
}